<section id="section-bunner" class="sectionBunner">
	<div class="sectionBunner__bunner">
		<div class="container">
			<p id="breakLines" class="sectionBunner__titleContainer" id="mudar">MOBILIZAÇÃO</p>
		</div>
	</div>
	<div class="relative-home">     
            
            <div class="imagem-redes-home">
            	<a href="https://fb.me/ProgramaEmpreendedorasDigitais" target="_blank" class="icon">
                    <%= image_tag("fb-roxo.png", :alt => "Facebook", :class => "icon_not_hover") %>
                    <%= image_tag("fb-azul.png", :alt => "Facebook", :class => "icon_hover") %>
                </a>
               <a href="https://www.instagram.com/empreendedoras_digitais/" target="_blank" class="icon">
                    <%= image_tag("insta-roxo.png", :alt => "Instagram", :class => "icon_not_hover") %>
                    <%= image_tag("insta-azul.png", :alt => "Instagram", :class => "icon_hover") %>
                </a>
                <a href="https://www.linkedin.com/company/empreendedoras-digitais/about/" target="_blank" class="icon">
                    <%= image_tag("linkedin-roxo.png", :alt => "Linkedin", :class => "icon_not_hover") %>
                    <%= image_tag("linkedin-azul.png", :alt => "Linkedin", :class => "icon_hover") %>
                </a>
            </div>
        </div>
    </div>
</section>

