<footer>
    <div class="">
        <div class="footer__linha">
        </div>
        <div class="container-fluid">
            <div class="footer__p--container">
                <p class="footer__p">Uma Iniciativa</p>
            </div>
            <div class="container-logos logos-footer">
				<div class="div-logo2"> <%= image_tag("logo2.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
				<div class="div-logo3"> <%= image_tag("logo3.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
				<div class="div-logo4"> <%= image_tag("logo4.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
				<div class="div-logo5 finep"> <%= image_tag("logo5.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
				<div class="div-logo6"> <%= image_tag("logo6.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
				<div class="div-logo7"> <%= image_tag("logo7.png", :alt => "Imagem Footer", :class => "tamanho-logo-footer") %> </div>
            </div>
        </div>
    </div>
</footer>