<footer>
    <div class="">
        <div class="footer__linha">
        </div>
        <div class="container-fluid">
            <div class="footer__p--container">
                <p class="footer__p">Uma Iniciativa</p>
            </div>
            <div class="container-logos">
				<div class="logo-footer"> <%= image_tag("logo2.png", :alt => "Imagem Footer", :class => "", size: "") %> </div>
				<div class="logo-footer"> <%= image_tag("logo3.png", :alt => "Imagem Footer", :class => "", size: "220x100") %> </div>
				<div class="logo-footer"> <%= image_tag("logo4.png", :alt => "Imagem Footer", :class => "", size: "160x55") %> </div>
				<div class="logo-footer"> <%= image_tag("logo5.png", :alt => "Imagem Footer", :class => "logo5", size: "") %> </div>
				<div class="logo-footer"> <%= image_tag("logo6.png", :alt => "Imagem Footer", :class => "", size: "220x80") %> </div>
				<div class="logo-footer"> <%= image_tag("logo7.png", :alt => "Imagem Footer", :class => "", size: "220x80") %> </div>
            </div>
        </div>
    </div>
</footer>